.title {
  font-family: "Manrope", sans-serif;
  color: #100557;
}
.pic {
  background-image: url("images/back.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.pic2 {
  background-image: url("images/group.jpeg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 900px; /* You must set a specified height */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
@media (max-width: 1000px) {
  .pic2 {
    height: 400px;
  }
}
/* .about {
  background-color: #689fbd;
} */
footer {
  background-color: #100557;
  color: white;
  align-items: center;
  text-align: center;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #689fbd;
}
.follow {
  padding: 10px;
}
.copy {
  padding: 15px;
  background-color: #689fbd;
}
