.title h3 {
  margin: 0px;
  font-size: 30px;
  font-style: italic;
}
.episodez h2 {
  text-align: center;
  margin: 0;
  text-decoration: underline;
}
.episodez p {
  margin: 1.5rem;
  text-align: justify;
}

/* Refaire le formatting des 3 éléments de nouveaux */
@media (max-width: 600px) {
  .episodez p {
    margin: 2rem;
  }
  /* .spotify {
    margin: 1rem;
    padding: 1rem;
  } */
}
/* make it so that text is inside a container when the screen size is bigger than 600px */
@media (min-width: 800px) {
  .episodez p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .episodez p {
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 20px;
  }
}
.videos h2 {
  text-align: center;
  text-decoration: underline;
}
.videos {
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  .videos iframe {
    width: 373px;
    height: 210px;
  }
}
